/*Header*/
header{
    background-color:rgba(102, 106, 134, 0.842);
    width: 100%;
    height: 15vh;
    padding: 0px 0px 0px 0px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: rgb(13, 6, 48);
    a{
        img{
            font-weight: bold;
            border-style: double;
            border-color: rgb(13, 6, 48);
            border-radius: 100%;
            width:50px;
            height: 50px;
            margin-left: 10px;
        }
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                a{
                    text-decoration: none;
                    color: rgb(216, 216, 246);
                    margin: 5px;
                }
            }
        }
    }
}